body {
    background-color: #8b929e;
    color: white;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
}

/*-------------- Dropdown ---------------*/
:root {
  --background-gradient: linear-gradient(178deg, #ffff33 10%, #3333ff);
  --gray: #34495e;
  --darkgray: #2c3e50;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}


/* ----------Graph Display--------- */

.container{
  font-family: 'Quicksand', sans-serif;
}
.noMargin {
    margin: 0px;
  }
  
  .one {
    background-color: #b4bdcc;
    margin:15px;
    width: 750px;
    height: 550px;
    text-align: center;
    border-radius: 10px;

  }

  .LR{
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    margin: 45px;
  }
  
  .two {
    background-color: #b4bdcc;
    margin:15px;
    width: 750px;
    height: 550px;
    text-align: center;
    border-radius: 10px;
  }

  .keras{
    width: 525px;
    height: 450px;
    display: flex;
    align-items: center;
    margin: 25px;
  }
  
  .three {
    background-color: #b4bdcc;
    margin:15px;
    width: 750px;
    height: 550px;
    text-align: center;
    border-radius: 10px;
  }
  
  .four {
    background-color: #b4bdcc;
    margin:15px;
    width: 750px;
    height: 550px;
    text-align: center;
    border-radius: 10px;
  }



  