{% extends "layout.html" %}
 {% block title %}Home{% endblock %}
 {% block content %}
 <h1>Stock Prediction with Machine Learning</h1>
 <div class="links" id="links">
  <!-- <a href="https://github.com/briangasca/project_display2"><img src="static/images/GitHub-Mark.png" alt=""></a>
  <a href="https://github.com/briangasca/Models"><img src="static/images/GitHub-Mark.png" alt=""></a> -->
</div>
 <div class="main-area">
 <div class= "container_drp">
  <div class="select">
    <select id="choice" class="form-control" onchange="changeImage()">
      <option value="1">TSLA</option>
      <option value="2">AAPL</option>
      <option value="3">META</option>
      <option value="4">KO (Coke)</option>
      <option value="5">GOOGL</option>
      <option value="6">COST</option>
      <option value="7">GME</option>
      <option value="8">JPM</option>
      <option value="9">WMT</option>
      <option value="10">BTC</option>
    </select>
  </div>
  <div class = "down_note">
  <p>Pick Your Desired Stock</p>
  </div>
  <h2 id="stock">Stock: TSLA</h2>
</div> 
 <div class="container" id="container">
  <div class="row noMargin" id="noMargin_1">
    <div class="col one">
      ARIMA Linear Regression
      <img src="static/images/arima/lr_tsla.png" alt="" class="LR" id="LR">
    </div>
    <div class="col two">
      Keras LSTM
      <img src="static/images/keras/keras_tsla.png" alt="" class="keras" id="keras">
    </div>
  </div>
  <div class="row noMargin" id="noMargin_2">
    <div class="col three">
      XGBoost
    </div>
    <div class="col four">
      Random Forest
    </div>
  </div>
  </div>
  <div class="about_us" id="about_us">
    <h3>About Us</h3>
    <div class="row noMargin">
      <div class="col brian">
        Brian Gasca
        <p>SPIS 2023</p>
        <p>Freshman at UCSD, Class of 2027</p>
        <p>From San Diego, CA</p>
      </div>
      <div class="col shawn">
        Shawn Cheng
        <p>SPIS 2023</p>
        <p>Freshman at UCSD, Class of 2027</p>
        <p>From Riverside, CA</p>
      </div>
    </div>
  </div>
  <div class="circles">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
 {% endblock %}